.nav {
    border: 1px solid grey;
    float: left;
}

#mainSection {
    float:right;
    margin:10px;
}
.cityList {
    border: 0.5px solid grey;
}
.col-2 {
    float:left;
    background-color: #007bff;
    margin:10px;
}
#currentCity {
    border: 1px solid grey;
}